# Python Introduction
This is a short introduction to the Python programming language, one of the most popular languages in data science. The intro will go through some programming basics step by step in the cells of this Jupyter Notebook. To run a cell, press the "Run" button. This will execute the code in the marked cell.

# 1) Basic Types

In [1]:
# Int (integer; a whole number with no decimal place)
10
-3

-3

In [ ]:
# float (float; a number that has a decimal place)
7.41
-0.006

In [ ]:
# str (string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)
'this is a string using single quotes'
"this is a string using double quotes"
'''this is a triple quoted string using single quotes'''
"""this is a triple quoted string using double quotes"""

In [ ]:
# bool (boolean; a binary value that is either true or false)
True
False

In [ ]:
#NoneType (a special type representing the absence of a value)
None

# 2) Operations
Operations such as addition, subtraction, multiplication and division. Also equalities such as equal to and less than are operations

In [3]:
# Addition
3 + 6

9

In [4]:
# Multiplication
3.2 * 12.8

40.96000000000001

In [5]:
# Equality
3.2 == 1.0

False

# 3) Variables
Values and objects can be assigned to variables and variables can be combined with operations

In [6]:
num1 = 10
num2 = -3
num1 * num2

-30

# 4) Containers
Containers are objects that can be used to group other objects together.

In [9]:
# Tuple - Find values in tuple by using the index in the tuple, index starting at 0
tuple1 = (1, 'hej', 18, 19.1)
tuple1[2]

18

In [8]:
# List - Like a mutable(changeable) tuple
list1 = [1, 'hej', 18, 19.1]
list1[2]

18

In [10]:
# Dict - Have keys to find values
dict1 = {'hej': 1, 'hola': 2}
dict1['hola']

2

# 5) Pandas DataFrames

In [11]:
import pandas as pd

In [12]:
pd.DataFrame({'col_name_1':[1,2,18], 'col_name_2':[42,1,4]})

   col_name_1  col_name_2
0           1          42
1           2           1
2          18           4

# 6) Objects